{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Felveteli</title>
</head>
<body>
    <h1>Kérem adja meg azonosítóját!</h1>

    {% if vaneinput %}
        {% if voltilyen %}
        <p>Kedves {{nev}}! Az felvételin szerzett {{pontszam}}-tal az alábbi szakokra vettek fel:</p>    
        <p>Matek: {{matek}}</p>
        <p>Angol: {{angol}}</p>
        <form method="POST">
            {% csrf_token %}
            <p>Másik azonosító megadása!</p>
            <input type="text" name="diakid" maxlength="3">
            <button type="submit">Keresés</button>
        </form>
        {% else %}
        <p>Ilyen azonosítójú diákot nem találtunk!</p>
        {% csrf_token %}
        <form method="POST">
            {% csrf_token %}
            <p>Ellenőrizd le a számot és írd be újra!</p>
            <input type="text" name="diakid" maxlength="3">
            <button type="submit">Keresés</button>
        </form>
        {% endif %}
    {% else %}
    <form method="POST">
        {% csrf_token %}
        <p>Adja meg azonosítóját!</p>
        <input type="text" name="diakid" maxlength="3">
        <button type="submit">Keresés</button>
    </form>
    {% endif %}
    
</body>

<script src="{% static 'js/script.js' %}"></script>

</html>